<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Class</title>
    <link rel="stylesheet" href="/css/classStyle.css">
</head>
<body>
    <div class="class-container">
        <h1 id="welcomeMessage">Welcome, <span id="username">[Username]</span>!</h1>
        <div class="options-container">
            <div class="class-option" id="Knight">Knight</div>
            <div class="class-option" id="Ninja">Ninja</div>
            <div class="class-option" id="Viking">Viking</div>
        </div>
        <button id="enterDungeon">Enter Dungeon!</button>
    </div>
    <script src="/js/classJS.js"></script>
</body>
</html>
