body {
    /* font-family: Copperplate, Fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
    background-color: #f0f0f0;
    background: url('/images/LoginBackground.jpg') no-repeat center center fixed;
    background-size: cover;
}

.class-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#username {
    color: Black;
    font-size: 1em;
}

.options-container {
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.class-option {
    display: inline-block;
    border: 2px solid black;
    padding: 20px 40px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(124,0,0);
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px;
}

.class-option:hover, .class-option.selected {
    background-color: #8B0000;
    border-color: white;
}

button#enterDungeon {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(124,0,0);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button#enterDungeon:hover {
    background-color: #8B0000;
}