<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Home Page</title>
</head>
<body>
    <div class="container">
        <div class="option">
            <div>
                <img src="image1.jpg" alt="Option 1">
            </div>
            <div>
                <input type="radio" id="option1" name="option" value="option1">
                <label for="option1">Option 1</label>
            </div>
        </div>
        <div class="option">
            <div>
                <img src="image2.jpg" alt="Option 2">
            </div>
            <div>
                <input type="radio" id="option1" name="option" value="option2">
                <label for="option2">Option 2</label>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="../static/css/homeStyle.css">
</body>
</html>